@import "../../../main.scss";
.carrousel_box {
  min-width: 100vw;
  display: flex;
  max-height: 360px;
  overflow: hidden;
  .carrousel_img_k {
    min-width: 100vw;
    max-height: 350px;
    cursor: pointer;
  }
  .arrow_icon {
    cursor: pointer;
    background-color: $black;
    color: $grey;
    position: absolute;
    padding: 8px;
    top: 50%;
    opacity: 0;
    font-size: 3rem;
    transition: 0.4s ease-in-out;
  }
  .arrow_icon_right {
    background-color: $black;
    color: $grey;
    position: absolute;
    right: 0;
    padding: 8px;
    top: 50%;
    opacity: 0;
    font-size: 3rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }
}
.carrousel_img {
  min-width: 85vw;
  max-height: 340px;
  cursor: pointer;
}
.arrow_icon {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
  background-color: $power_dark;
  height: 30px;
  padding: 6px;
  width: 30px;
  cursor: pointer;
  color: $bg;
}
.carrousel_slider_box:hover > .arrow_icon {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}
.carrousel_slider_box:hover > .arrow_icon_right {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}
.photo_index {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: $black;
  .photo_icon {
    background-color: $grey;
    color: $grey;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 4px;
    transition: 0.4s ease-in-out;
  }
  .fala {
    background-color: $falabella;
  }
  .photo_icon:hover {
    background-color: $falabella;
    transition: 0.4s ease-in-out;
  }
}
